<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find polishing_station)/description/machine_robots.urdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot"/>
 
    <rosparam file="$(find completeStation)/config/trajectory_controller.yaml" command="load"/>    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="scara_trajectory_controller handler_trajectory_controller polisher_trajectory_controller "/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
 </launch>
