<launch>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.00"/>

  <arg name="roll" default="1.57"/>  <!-- Rotation around X axis -->
  <arg name="pitch" default="0.0"/>  <!-- Rotation around Y axis -->
  <arg name="yaw" default="0.0"/>   <!-- Rotation around Z axis (e.g., 90 degrees) -->

  <node name="spawnStation" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find station)/urdf/machine.urdf -urdf -model static_object -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
</launch>
