<launch>
  <!-- Declare args globally -->
  <arg name="x_polisher" default="0.6"/>
  <arg name="y_polisher" default="0.6"/>
  <arg name="z_polisher" default="2.04"/>
  <arg name="roll_polisher" default="3.14"/>
  <arg name="pitch_polisher" default="0.0"/>
  <arg name="yaw_polisher" default="0.0"/>

  <arg name="x_handler" default="-2.0"/>
  <arg name="y_handler" default="-2.0"/>
  <arg name="z_handler" default="0.1"/>
  <arg name="roll_handler" default="0.0"/>
  <arg name="pitch_handler" default="0.0"/>
  <arg name="yaw_handler" default="0.0"/>

  <!-- Your world and UI -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen"/>

  <!-- Your station -->
  <include file="$(find station)/launch/spawnStation.launch">
    <arg name="x" value="0.0"/> 
    <arg name="y" value="1.2"/>
    <arg name="z" value="0.1"/>
  </include>

  <!-- Polisher group -->
  <group ns="polisher">
    <param name="robot_description" textfile="$(find polisher)/urdf/polisher.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="spawn_urdf_polisher" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model polisher -x $(arg x_polisher) -y $(arg y_polisher) -z $(arg z_polisher) -R $(arg roll_polisher) -P $(arg pitch_polisher) -Y $(arg yaw_polisher)"/>
    <rosparam file="$(find polisher_moveit)/config/ros_controllers.yaml" command="load"/>  
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="polisherController"/>
  </group>

  <!-- Handler group -->
  <group ns="handler">
    <param name="robot_description" textfile="$(find handler)/urdf/handler.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="spawn_urdf_handler" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model handler -x $(arg x_handler) -y $(arg y_handler) -z $(arg z_handler) -R $(arg roll_handler) -P $(arg pitch_handler) -Y $(arg yaw_handler)"/>
    <rosparam file="$(find handler_moveit)/config/ros_controllers.yaml" command="load"/>  
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="handlerController"/>
  </group>
</launch>
